<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>24 Help :: Home</title>
    <div th:replace="header :: headerBlock"></div>
</head>
<body>

	<div th:replace="header :: navBar"></div>
	<!-- /.container -->
	<div align="center" >
		<br>
		<br>
		<br>
		<br>
		<h1>CONECTANDO PESSOAS AOS SERVIÇOS</h1>
		<br>
		<img th:src="@{/logo.png}" alt="24 Help" width="142" height="142" align="middle"/>
		<BR>
		<em>O servi&ccedil;o que voc&ecirc; deseja<br>voc&ecirc; encontra aqui!</em>
	</div>
 

</body>
</html>